<!DOCTYPE html>
<html>
<head>
	<title> {% block title %} {% endblock %} </title>
</head>
<body>
	{% block body %} {% endblock %}

	{% block footer %}
		<span>	Submit Your Code :</span>
		<form name = "language" action = "{{url_for('process')}}" method="POST">			
			<br> 
			<textarea type="text" name="code" style = "height:500px;width:500px"></textarea> 
			<br>

			<hr>

			<select name = "language" style="height: 50px;width: 100px">
				<option value = "C"> C </option>
				<option value = "C++"> C++ </option>
				<option value = "Python"> Python </option>
			</select>
			<input type="hidden" value="{{problem}}" name="problem"></input>
			<input type = "submit" style = "height:50px;width:100px" value="submit"></input>
		</form>
	{% endblock %}
</body>
</html>